EValueApi/EValueApi/Web References/EValueInstitutionApi/Institution_1_0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:impl="http://DefaultNamespace" targetNamespace="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.xml.coldfusion">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="CFCInvocationException">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getUserSubUnitsRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUserSubUnitsResponse">
    <wsdl:part name="getUserSubUnitsReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSubUnitsRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUnitsResponse">
    <wsdl:part name="getUnitsReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSubUnitsResponse">
    <wsdl:part name="getSubUnitsReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSubUnitUsersRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUnitsRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSubUnitUsersResponse">
    <wsdl:part name="getSubUnitUsersReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException" />
  </wsdl:message>
  <wsdl:portType name="Institution_1_0">
    <wsdl:operation name="getUnits" parameterOrder="msg">
      <wsdl:input name="getUnitsRequest" message="impl:getUnitsRequest" />
      <wsdl:output name="getUnitsResponse" message="impl:getUnitsResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
    <wsdl:operation name="getSubUnits" parameterOrder="msg">
      <wsdl:input name="getSubUnitsRequest" message="impl:getSubUnitsRequest" />
      <wsdl:output name="getSubUnitsResponse" message="impl:getSubUnitsResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
    <wsdl:operation name="getUserSubUnits" parameterOrder="msg">
      <wsdl:input name="getUserSubUnitsRequest" message="impl:getUserSubUnitsRequest" />
      <wsdl:output name="getUserSubUnitsResponse" message="impl:getUserSubUnitsResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
    <wsdl:operation name="getSubUnitUsers" parameterOrder="msg">
      <wsdl:input name="getSubUnitUsersRequest" message="impl:getSubUnitUsersRequest" />
      <wsdl:output name="getSubUnitUsersResponse" message="impl:getSubUnitUsersResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Institution_1_0.cfcSoapBinding" type="impl:Institution_1_0">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getUnits">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getUnitsRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getUnitsResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubUnits">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSubUnitsRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getSubUnitsResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserSubUnits">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getUserSubUnitsRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getUserSubUnitsResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubUnitUsers">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSubUnitUsersRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getSubUnitUsersResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Institution_1_0Service">
    <wsdl:port name="Institution_1_0.cfc" binding="impl:Institution_1_0.cfcSoapBinding">
      <wsdlsoap:address location="https://test-api.e-value.net/Institution_1_0.cfc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>