EValueApi/EValueApi/Web References/EValueTimeFrameApi/TimeFrame_1_0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:impl="http://DefaultNamespace" targetNamespace="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.xml.coldfusion">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="CFCInvocationException">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getResponse">
    <wsdl:part name="getReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAllResponse">
    <wsdl:part name="getAllReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="rmvExternalIdResponse">
    <wsdl:part name="rmvExternalIdReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="addExternalIdRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="rmvExternalIdRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getByExtIdRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException" />
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="createReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="deleteReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getStatusOptionsRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="updateReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getStatusOptionsResponse">
    <wsdl:part name="getStatusOptionsReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAllRequest">
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getByExtIdResponse">
    <wsdl:part name="getByExtIdReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="addExternalIdResponse">
    <wsdl:part name="addExternalIdReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="TimeFrame_1_0">
    <wsdl:operation name="get" parameterOrder="msg">
      <wsdl:input name="getRequest" message="impl:getRequest" />
      <wsdl:output name="getResponse" message="impl:getResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
    <wsdl:operation name="update" parameterOrder="msg">
      <wsdl:input name="updateRequest" message="impl:updateRequest" />
      <wsdl:output name="updateResponse" message="impl:updateResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
    <wsdl:operation name="delete" parameterOrder="msg">
      <wsdl:input name="deleteRequest" message="impl:deleteRequest" />
      <wsdl:output name="deleteResponse" message="impl:deleteResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
    <wsdl:operation name="create" parameterOrder="msg">
      <wsdl:input name="createRequest" message="impl:createRequest" />
      <wsdl:output name="createResponse" message="impl:createResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
    <wsdl:operation name="getAll" parameterOrder="msg">
      <wsdl:input name="getAllRequest" message="impl:getAllRequest" />
      <wsdl:output name="getAllResponse" message="impl:getAllResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
    <wsdl:operation name="getByExtId" parameterOrder="msg">
      <wsdl:input name="getByExtIdRequest" message="impl:getByExtIdRequest" />
      <wsdl:output name="getByExtIdResponse" message="impl:getByExtIdResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
    <wsdl:operation name="addExternalId" parameterOrder="msg">
      <wsdl:input name="addExternalIdRequest" message="impl:addExternalIdRequest" />
      <wsdl:output name="addExternalIdResponse" message="impl:addExternalIdResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
    <wsdl:operation name="getStatusOptions" parameterOrder="msg">
      <wsdl:input name="getStatusOptionsRequest" message="impl:getStatusOptionsRequest" />
      <wsdl:output name="getStatusOptionsResponse" message="impl:getStatusOptionsResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
    <wsdl:operation name="rmvExternalId" parameterOrder="msg">
      <wsdl:input name="rmvExternalIdRequest" message="impl:rmvExternalIdRequest" />
      <wsdl:output name="rmvExternalIdResponse" message="impl:rmvExternalIdResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimeFrame_1_0.cfcSoapBinding" type="impl:TimeFrame_1_0">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updateRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="deleteRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="createResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getAllRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getAllResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getByExtId">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getByExtIdRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getByExtIdResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addExternalId">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addExternalIdRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="addExternalIdResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStatusOptions">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getStatusOptionsRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getStatusOptionsResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rmvExternalId">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="rmvExternalIdRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="rmvExternalIdResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimeFrame_1_0Service">
    <wsdl:port name="TimeFrame_1_0.cfc" binding="impl:TimeFrame_1_0.cfcSoapBinding">
      <wsdlsoap:address location="https://test-api.e-value.net/TimeFrame_1_0.cfc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>